<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home MercadoLiebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <header>
        <div class="header-meli">
            <div class="logo-meli" alt="Mercado Libre">
                <img src="images/logo-mercado-liebre.svg" />
            </div>
            <div class="buscador">
                <input type="text" value="Buscar productos, marcas" size="30">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <p class="opciones"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <div class="header-menu">
            <div class="lista-1">
                <nav>
                    <ul>
                        <li><a href='#' class="lista">Ofertas</a></li>
                        <li><a href='#' class="lista">Tiendas Oficiales</a></li>
                        <li><a href='#' class="lista">Vender</a></li>
                        <li><a href='#' class="lista">Ayuda</a></li>
                    </ul>
                </nav>
            </div>

            <div class="lista-2">
                <nav>
                    <ul>
                        <li><a href='/register' class="lista">Creá tu cuenta </a> <i class="fa-regular fa-id-card"></i>
                        </li>
                        <li><a href='/login' class="lista">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                        <li><a href='#' class="lista">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <section class="ultima-visita">
            <img src='images/img-home-banner.jpg' class="banner-secundario" />
            <div class="titulos">
                <h4>Basado en tu última visita</h4>
            </div>
            <article class="productos-lista">
                <img src='images/img-cafetera-moulinex.jpg' width="405" height="350" class="imagen-producto" />
                <div class="main-article">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h5 class="descripcion">Cafetera Moulinex</h5>
                </div>
            </article>
            <article class="productos-lista">
                <img src='images/img-macbook-pro-2019.jpg' width="405" height="350" class="imagen-producto" />
                <div class="main-article">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <h5 class="descripcion">MacBook Pro 2019</h5>
                </div>
            </article>
            <article class="productos-lista">
                <img src='images/img-samsung-galaxy-s10.jpg' width="405" height="350" class="imagen-producto" />
                <div class="main-article">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h5 class="descripcion">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article class="productos-lista">
                <img src='images/img-tv-samsung-smart.jpg' width="405" height="350" class="imagen-producto" />
                <div class="main-article">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h5 class="descripcion">SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
        <section>
            <div>
                <h4 class="titulos">Sección de Ofertas</h4>
                <article class="productos-lista">
                    <img src='images/img-cafetera-moulinex.jpg' width="405" height="350" class="imagen-producto" />
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h5 class="descripcion">Cafetera Moulinex</h5>
                    </div>
                </article>
                <article class="productos-lista">
                    <img src='images/img-macbook-pro-2019.jpg' width="405" height="350" class="imagen-producto" />
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h5 class="descripcion">MacBook Pro 2019</h5>
                    </div>
                </article>
                <article class="productos-lista">
                    <img src='images/img-samsung-galaxy-s10.jpg' width="405" height="350" class="imagen-producto" />
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h5 class="descripcion">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article class="productos-lista">
                    <img src='images/img-tv-samsung-smart.jpg' width="405" height="350" class="imagen-producto" />
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h5 class="descripcion">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="footer-h4">
                <div class="iconos-footer">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h4 class="footer-h4">Pagá con tarjeta o en efectivo</h4>
                <p class="pfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-h4">
                <div class="iconos-footer">
                    <i class="fa-sharp fa-solid fa-gift"></i>
                </div>
                <h4 class="footer-h4"></i>Envío gratis desde $ 2.500</h4>
                <p class="pfooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <div class="iconos-footer">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h4 class="footer-h4"></i>Seguridad, de principio a fin</h4>
                <p class="pfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div class="last-comment">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
    </div>
</body>

</html>