<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>


<header>
    <div class="header-meli">
        <div class="logo-meli" alt="Mercado Liebre">
            <img src="images/logo-mercado-liebre.svg" />
        </div>
</header>

<body class="body-login">
    <section>
        <div class="all-login">
            <h1>¡Hola! ingresá tu Usuario y Contraseña</h1>
            <form action="/" method="get">
                <div class="log-name">
                    <label for="nombre"></i><span class="user-login">Teléfono, usuario o mail</span></label>
                    <input type="text" name="user_id" id="nombre" minlength="4" required>
                </div>
                <div class="log-pass">
                    <label for="passwd"><span class="passwd-login">Contraseña</span></label>
                    <input type="password" name="passwd" required>
                </div>
                <div class="log-button">
                    <button type="submit" class="log-button"><span class="log-button1">Ingresar </span></button>
                </div>
            </form>
        </div>

    </section>

</body>

</html>