<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>


<header>
    <div class="header-meli">
        <div class="logo-meli" alt="Mercado Liebre">
            <img src="images/logo-mercado-liebre.svg" />
        </div>
</header>

<body>
    <section class="register-form">
        <div>
            <form action="/" method="get">
                <div class="reg-name">
                    <label for="nombre"><i class="fa-sharp fa-solid fa-id-card"></i></label>
                    <input type="text" value="Nombre y Apellido" name="nombre" id="nombre" minlength="4" required>
                </div>

                <div class="reg-mail">
                    <label for="user"><i class="fa-sharp fa-solid fa-envelope"></i>Mail</label>
                    <input type="email" name="user" id="user" required>
                </div>

                <div class="reg-birth">
                    <label for="nacimiento">Fecha de nacimiento</label>
                    <input type="date" name="nacimiento" id="nacimiento" required>
                </div>

                <div class="reg-adress">
                    <label for="domicilio">Domicilio de entrega</label>
                    <input type="text" name="domicilio" id="domicilio" required>
                </div>

                <div class="reg-profile">
                    <label for="perfil">Quiero vender</label>
                    <input type="radio" name="perfil" value="Vendedor" id="perfilVendedor">
                    <label for="perfil">Quiero comprar</label>
                    <input type="radio" name="perfil" value="Comprador" id="perfilComprador">
                </div>
                <div class="reg-interest">
                    <label for="interes">Categorías de interés:</label>
                    <input type="checkbox" name="interes" value="electro"><i
                        class="fa-sharp fa-solid fa-laptop"></i>Electro</input>
                    <input type="checkbox" name="interes" value="moda"><i
                        class="fa-sharp fa-solid fa-shirt"></i>Moda</input>
                    <input type="checkbox" name="interes" value="home"><i
                        class="fa-sharp fa-solid fa-couch"></i>Hogar</input>
                    <input type="checkbox" name="interes" value="toys"><i
                        class="fa-sharp fa-solid fa-teddy-bear"></i>Juguetería</input>
                    <input type="checkbox" name="interes" value="health">Vida sana</input>
                </div>

                <div class="reg-upload">
                    <label for="avatar">Foto de perfil</label>
                    <input type="file" name="avatar" id="avatar">
                </div>
                <div class="reg-pass">
                    <label for="passwd">Contraseña</label>
                    <input type="password" name="passwd" required>
                </div>
                <div class="reg-pass"><label for="passwd">Repetir contraseña</label required>
                    <input type="password" name="passwd">
                </div>
                <div class="reg-button">
                    <button type="submit"><span>Enviar </span></button>
                </div>
                <div class="reg-button">
                    <button type="reset"><span>Resetear</span></button>
                </div>

            </form>
    </section>
</body>

</html>